<mwc-drawer hasHeader type="modal">
    <span slot="title">
        <mwc-icon-button slot="navigationIcon" icon="menu"
            onclick="this.closest('mwc-drawer').open = ! this.closest('mwc-drawer').open;">
        </mwc-icon-button>
        Keep Coding ;¬)
    </span>

    <mwc-list>
        <mwc-list-item graphic="avatar">
            <a href="/">
                <span>Home</span>
            </a>
            <mwc-icon slot="graphic">home</mwc-icon>
        </mwc-list-item>
        <li divider padded role="separator"></li>
        <mwc-list-item graphic="avatar">
            <a href="/todo/">
                <span>Projects</span>
            </a>
            <mwc-icon slot="graphic">build</mwc-icon>
        </mwc-list-item>
        <li divider padded role="separator"></li>
    </mwc-list>
    <!--div style="position: fixed; bottom: 0px; width: 100%"-->
    <div style="text-align: center;">
        {% include svg-icons.html %}
    </div>
    <!--/div-->
    <div slot="appContent">
        <mwc-top-app-bar-fixed>
            <mwc-icon-button slot="navigationIcon" icon="menu"
                onclick="this.closest('mwc-drawer').open = ! this.closest('mwc-drawer').open;">
            </mwc-icon-button>
            <div slot="title">{{ page.title }}</div>
        </mwc-top-app-bar-fixed>
        <div>
            <main id="content" class="main-content" role="main">
                {{ content }}
            </main>
        </div>
    </div>
</mwc-drawer>