<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>

  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}
  <meta charset="UTF-8">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/2.4.1/webcomponents-loader.js" defer></script>
  <script type="module">
    WebComponents.waitFor(async () => {
      import("/assets/bundle/sources.js");
    });
  </script>

  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">

</head>

<body>
  <mwc-drawer hasHeader type="modal">
    <span slot="title">
      <mwc-icon-button slot="navigationIcon" icon="menu"
        onclick="this.closest('mwc-drawer').open = ! this.closest('mwc-drawer').open;">
      </mwc-icon-button>
      Keep Coding ;¬)
    </span>

    <mwc-list>
      <mwc-list-item graphic="avatar">
        <a href="/">
          <span>Home</span>
        </a>
        <mwc-icon slot="graphic">home</mwc-icon>
      </mwc-list-item>
      <li divider padded role="separator"></li>
      <mwc-list-item graphic="avatar">
        <a href="/todo/">
          <span>Projects</span>
        </a>
        <mwc-icon slot="graphic">build</mwc-icon>
      </mwc-list-item>
      <li divider padded role="separator"></li>
    </mwc-list>
    <!--div style="position: fixed; bottom: 0px; width: 100%"-->
    <div style="text-align: center;">
      {% include svg-icons.html %}
    </div>
    <!--/div-->
    <div slot="appContent">
      <mwc-top-app-bar-fixed>
        <mwc-icon-button slot="navigationIcon" icon="menu"
          onclick="this.closest('mwc-drawer').open = ! this.closest('mwc-drawer').open;">
        </mwc-icon-button>
        <div slot="title">{{ page.title }}</div>
      </mwc-top-app-bar-fixed>
      <div>
        <main id="content" class="main-content" role="main">
          {{ content }}
        </main>
      </div>
    </div>
  </mwc-drawer>

  <div class="wrapper-footer">
    <div class="container">
      <footer class="footer">
        {% include svg-icons.html %}
      </footer>
    </div>
  </div>

</body>

</html>