<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>

  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}
  <meta charset="UTF-8">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/2.4.1/webcomponents-loader.js" defer></script>
  <script type="module">
    WebComponents.waitFor(async () => {
      import("/assets/bundle/sources_polymer.js");
    });
  </script>

  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">

  <style>
    app-drawer-layout:not([narrow]) [drawer-toggle] {
      display: none;
    }

    app-header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: lightblue;
      color: black;

      --app-header-shadow: {
        transition: none;
      }

      ;
    }
  </style>

</head>

<body>

  <app-drawer-layout>
    <app-drawer slot="drawer">
      <app-toolbar>
        <span main-title>Keep Coding :¬)</span>
      </app-toolbar>

      <div role="listbox">
        <paper-icon-item>
          <iron-icon icon="home" slot="item-icon"></iron-icon>
          <a href="/">Home</a>
        </paper-icon-item>
        <paper-icon-item>
          <iron-icon icon="build" slot="item-icon"></iron-icon>
          <a href="/todo/">Projects</a>
        </paper-icon-item>
        <paper-icon-item>
          <div style="text-align: center;">
            {% include svg-icons.html %}
          </div>
        </paper-icon-item>
      </div>
    </app-drawer>

    <app-header-layout>
      <app-header slot="header" reveals>
        <app-toolbar>
          <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
          <span main-title>{{ page.title }}</span>
        </app-toolbar>
      </app-header>
      {{ content }}
    </app-header-layout>
  </app-drawer-layout>
</body>

</html>